#loginButton{
    margin-top: 50px;
}
.form-control{
    width: 50%;
    margin: auto;
}
#loginForm{
    background: rgba(24, 82, 130,0.5);
    padding: 30px 0px;
    border: double 8px white;
    border-radius: 30px;
    width: 75%;
    margin: auto;
    margin-top: 60px;
}