    <div class="container">
      <div id="loginForm" >
        <h1><strong>Login</strong></h1>
          <form (ngSubmit)="verify(username.value, password.value)">
            <div class="form-group">
              <input class="form-control text-center" placeholder="Username" type="text" #username>
            </div>
            <div class="form-group">
              <input class="form-control text-center" placeholder="Password" type="password" #password>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary form-control">Login</button>
            </div>
            </form>
          </div>

      <!--Token Text-->
      <div *ngIf="token">
        <h3> {{token.access_token}}</h3>
      </div>
    </div>
