<p>
  List of procedures
</p>

<accordion [showArrows]="true" [closeOthers]="false" [expandAll]="false">
    <accordion-group heading="Knee Surgery">
        <b>Clinic:</b> Vancouver General Hospital<br>
        <b>Date:</b> January 27, 2017
    </accordion-group>
    <accordion-group heading="Knee Surgery 2">
        <b>Clinic:</b> Vancouver General Hospital<br>
        <b>Date:</b> January 27, 2017
    </accordion-group>
    <accordion-group heading="Knee Surgery 3">
        <b>Clinic:</b> Vancouver General Hospital<br>
        <b>Date:</b> January 27, 2017
    </accordion-group>
    <accordion-group heading="Knee Surgery 4">
        <b>Clinic:</b> Vancouver General Hospital<br>
        <b>Date:</b> January 27, 2017
    </accordion-group>
</accordion>